.about-container {
    background-size: 400% 400%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

.content {
    text-align: center;
    color: white;
    padding-top: 80px;
}