.home-container {
    background: linear-gradient(-45deg, #d4eaff,#e3e1ff, #ffdbfd, #ffffff);
    animation: gradientBG 15s ease infinite;
    background-size: 400% 400%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.content {
    text-align: center;
    color: white;
    padding-top: 80px;
}