.home-container {
    background: linear-gradient(-45deg, #d4eaff,#e3e1ff, #ffdbfd, #ffffff);
    animation: gradientBG 15s ease infinite;
    background-size: 400% 400%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.content {
    text-align: center;
    color: white;
    padding-top: 80px;
}

.scrap-photo {
  position: relative;
  transform: rotate(-2deg);
}

.scrap-photo::before,
.scrap-photo::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 25px;
  background: #FFF9ED;
  border: 2px solid #7e7e7e;
  opacity: 0.7;
  border-radius: 4px;
}

.scrap-photo--tape-me::before {
  top: -10px;
  left: -4%;
  transform: rotate(-35deg);
}

.scrap-photo--tape-me::after {
  top: -10px;
  left: 92%;
  transform: rotate(35deg);
}

.scrap-photo--tape-hashbrown {
  transform: rotate(2deg);
}

.scrap-photo--tape-hashbrown::before {
  top: -10px;
  left: -2%;
  transform: rotate(-35deg);
}

.scrap-photo--tape-hashbrown::after {
  top: -5px;
  left: 90%;
  transform: rotate(35deg);
}

.scrap-label {
  font-family: 'Gloria Hallelujah';
  transform: rotate(-3deg);
  padding: 4px -2px;
  font-size: x-large;
}

.rotate-arrow {
    transform: rotate(18deg);
    max-width: 200px;
}

.font-text-style {
  font-family: 'Gloria Hallelujah';
  font-size: 1.15rem;
}

.font-heading-style {
  font-family: 'Gloria Hallelujah' bold;
  font-size: 35px;
}