.custom-navbar {
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 10;
    width: 100%;
}

.custom-navbar .navbar-collapse {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
}

@media (min-width: 992px) {
    .custom-navbar .navbar-collapse {
        background-color: transparent;

    }
}